body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
}

h1,
h2,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  margin: 50px 0;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  outline: none;
}

output {
  display: block;
}

.grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.grid--item {
  margin-bottom: 30px;
  width: 32%;
}

figure {
  margin: 0;
}

figcaption {
  display: inline-block;
}

.count {
  font-size: 17px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.button {
  border: none;
  font-size: 16px;
}

.button:hover {
  cursor: pointer;
}

.button--submit {
  width: 206px;
  margin-top: 10px;
  padding: 5px 50px;
  background-color: #d4eafd;
}

.button--submit:hover {
  background-color: #99cfff;
}

.button--form {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  background-color: #d4eafd;
}

.button--like {
  padding: 3px 6px;
  border: none;
  background: #ffffff90;
  border-radius: 3px;
}

.button--down {
  padding: 0 10px;
}

.button--blue:hover {
  background-color: #99cfff;
}

.form {
  margin: 20px 0;
}

label {
  font-size: 14px;
  text-align: left !important;
}

input {
  margin: 5px 0 30px 0;
  outline: 0;
}

input[type=text],
[type=email],
[type=password] {
  display: block;
  width: 200px;
  height: 30px;
  font-size: 16px;
}

textarea {
  font-size: 18px;
  outline: none;
  width: 100%;
  min-height: 5em;
  padding: 0px;
}

.errors {
  font-size: 12px;
  color: orangered;
}

.copy {
  text-align: center;
}

.tab {
  text-align: center;
  display: flex;
}

.tab--item {
  padding: 5px;
  margin-right: 20px;
}

.tab--item:hover {
  cursor: pointer;
  background-color: #d4eafd;
}

.nav {
  float: right;
  margin-right: 40px;
  line-height: 70px;
}

.nav > ul {
  display: flex;
}

.nav--item {
  margin-left: 1.5em;
  font-size: 16px;
}

.navbar {
  height: 70px;
}

.brand {
  float: left;
  margin-left: 30px;
  line-height: 70px;
  font-size: 24px;
}

.photo-form {
  position: absolute;
  top: 70px;
  right: 0;
  margin-right: 70px;
  padding: 0 30px;
  z-index: 10;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  background: #f5f5f5;
}

.form--output > img {
  width: 300px !important;
  margin-bottom: 20px;
}

.loader {
  -webkit-animation: flash 1s ease infinite alternate;
          animation: flash 1s ease infinite alternate;
}

@-webkit-keyframes flash {
  50% {
    opacity: 0;
  }
}

@keyframes flash {
  50% {
    opacity: 0;
  }
}

.message {
  position: absolute;
  top: 70px;
  right: 0;
  margin-right: 70px;
  padding: 0 30px;
  z-index: 10;
  border: 1px solid #99cfff;
  border-radius: 5px;
  background: #d4eafd;
}

.photo {
  position: relative;
}

.photo--image {
  height: 250px;
  width: 100%;
}

.photo--like {
  position: absolute;
  top: 10px;
  right: 70px;
}

.photo--action-liked {
  background-color: #ffd6df;
}

.photo--down {
  position: absolute;
  top: 10px;
  right: 20px;
}

.photo--username {
  position: absolute;
  color: #fff;
  bottom: 10px;
  left: 20px;
}

.photo--overlay {
  position: absolute;
  height: 250px;
  width: 100%;
  top: 0;
  z-index: 0.5;
}

.photo--overlay:hover {
  cursor: zoom-in;
  background: #333;
  opacity: 0.5;
}

.icon {
  font-size: 16px;
  margin-right: 5px;
}

.icon:hover {
  cursor: pointer;
}

.ion-md-archive {
  padding: 0px 6px;
  color: #51aeff;
  background: #ffffff90;
  border-radius: 3px;
}

.ion-md-archive:hover {
  background-color: #99cfff;
}

.ion-md-heart {
  padding: 3px 6px;
  color: #ff5177;
}

.ion-md-arrow {
  padding: 3px 6px;
  color: #333;
}

.pagination {
  text-align: center;
}

.arrow {
  margin: 0 20px;
  font-size: 24px;
  font-weight: 700;
}

.photo-detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.photo-detail--panel {
  margin-bottom: 0px;
}

.photo-detail--image:hover {
  cursor: zoom-in;
}

.photo-detail--column {
  display: block;
}

.photo-detail--contents {
  font-size: 20px;
  position: absolute;
  top: -35px;
}

.photo-detail--comment {
  min-width: 250px;
  padding: 0 20px;
}

.photo-detail--commentContent {
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px dashed #99cfff;
}

.photo-detail--prev {
  margin-left: 30px;
  font-weight: 700;
}

.photo-detail--btns {
  margin-left: 20px;
  display: inline-block;
}

