.button{
  border: none;
  font-size: 16px;

  &:hover{
    cursor: pointer;
  }

  &--submit{
    width: 206px;
    margin-top: 10px;
    padding: 5px 50px;
    background-color: #d4eafd;

    &:hover{
      background-color: #99cfff;
    }
  }

  &--form{
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background-color: #d4eafd;
  }

  &--like{
    padding: 3px 6px;
    border: none;
    background: #ffffff90;
    border-radius: 3px;
  }

  &--down{
    padding: 0 10px;
  }

  &--blue:hover{
    background-color: #99cfff;
  }
}