.button{
  border: none;
  font-size: 16px;

  &:hover{
    cursor: pointer;
    background-color: #99cfff;
  }

  &--submit{
    width: 206px;
    margin-top: 10px;
    padding: 5px 50px;
    background-color: #d4eafd;

  }

  &--form{
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background-color: #d4eafd;
  }
}