.icon{
  font-size: 16px;
  margin-right: 5px;

  &:hover{
    cursor: pointer;
  }
}

.ion-md-archive{
  padding: 0px 6px;
  color: #51aeff;
  background: #ffffff90;
  border-radius: 3px;
}

.ion-md-heart{
  padding: 3px 6px;
  color: #ff5177;
}

.ion-md-arrow{
  padding: 3px 6px;
  color: #333;
}
