.icon{
  font-size: 16px;
  margin-right: 5px;
}

.ion-md-archive{
  padding: 0px 6px;
  color: #99cfff;
  background: #ffffff90;
  border-radius: 3px;
}

.ion-md-heart{
  padding: 3px 6px;
  color: #ff6f8e;
  background: #ffffff90;
  border-radius: 3px;
}
