.photo{
  position: relative;

  &--image{
    height: 250px;
    width: 100%;
  }

  &--like{
    position: absolute;
    top: 10px;
    right: 70px;
  }

  &--down{
    position: absolute;
    top: 10px;
    right: 20px;
  }

  &--username{
    position: absolute;
    color: #fff;
    bottom: 10px;
    left: 20px;
  }

  &--overlay{
    position: absolute;
    height: 250px;
    width: 100%;
    top: 0;
    z-index: 0.5;
  }

  &--overlay:hover{
    cursor: zoom-in;
    background: #555;
    opacity: 0.7;
  }


}