.photo-detail{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;

  &--panel{
    margin-bottom: 0px;
  }

  &--image:hover{
    cursor: zoom-in
  }

  &--column{
    display: block;

  }

  &--contents{
    font-size: 20px;
    position: absolute;
    top: -35px;
  }

  &--comment{
   min-width: 250px;
   padding: 0 20px;
  }

  &--commentContent{
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px dashed #99cfff;
   }

  &--btns{
    margin-left: 20px;
    display: inline-block;

  }
}
